web/WEB-INF/wsdl/192.168.11.178_8080/WSPGTomaServicio/WSPGTomaServicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.TomaServicio.guatex.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.TomaServicio.guatex.com/">

<xs:element name="tomaServicio" type="tns:tomaServicio"/>

<xs:element name="tomaServicioResponse" type="tns:tomaServicioResponse"/>

<xs:complexType name="tomaServicio">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tomaServicioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>